[submodule "local/codechecker"]
	path = local/codechecker
	url = https://github.com/moodle/hq/moodle-local_codechecker
[submodule "local/moodlecheck"]
	path = local/moodlecheck
	url = https://github.com/moodlehq/moodle-local_moodlecheck
[submodule "mod/book/tool/wordimport"]
	path = mod/book/tool/wordimport
	url = https://github.com/ecampbell/moodle-booktool_wordimport
