[submodule "local/codechecker"]
	path = local/codechecker
	url = https://github.com/moodlehq/moodle-local_codechecker
[submodule "local/moodlecheck"]
	path = local/moodlecheck
	url = https://github.com/moodlehq/moodle-local_moodlecheck
[submodule "mod/book/tool/wordimport"]
	path = mod/book/tool/wordimport
	url = https://github.com/ecampbell/moodle-booktool_wordimport
[submodule "question/type/kprime"]
	path = question/type/kprime
	url = https://github.com/ethz-let/moodle-qtype_kprime
[submodule "question/type/mtf"]
	path = question/type/mtf
	url = https://github.com/ethz-let/qtype_mtf
[submodule "filter/multilang2"]
	path = filter/multilang2
	url = https://github.com/iarenaza/moodle-filter_multilang2
